# Build directories
build/
out/
cmake-build-*/

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.exe
*.obj
*.o
*.pdb
*.ilk
*.lib
*.exp
*.dll

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# OS files
Thumbs.db
Desktop.ini
obj/*
.claude/
bin/
